.clearfix {
    overflow: auto;
  }

  html, body { width: 100%; height: 100%; margin: 0 auto; text-align: center; text-shadow: black; stroke: black; }


  /*GOM JABBAR this is the test GOM JABBAR*/
.gomJabbar{
    background-color:burlywood;
    align-content: center;
    width: 80%;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    background: rgba(211, 59, 59, 0.6);
    
}

body {
    background: url("../images/gomJabbarPoster.jpg");
    background: cover;
    background-size: 100%;  
}

/* 
.body {
    font-family: Open Sans;
    background: url("../images/gomJabbarPoster.jpg");
    background: cover;

} */
/* 
.topContainer{
    width: 20%;
} */

/* 
.reverendMotherImages {
    background: rgba(231, 77, 17, 0.6);
} */

h1 {
    text-align: center;
    color: #DCDCDC;
    text-shadow: black; 
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    background: rgba(146, 175, 160, 0.6);
}


h2 {
    font-size: 90;
    text-align: center;
    color: red;
    text-shadow: black;
    -webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: black;
    background: rgba(146, 175, 160, 0.6);
}



h3 {
    font-size: 70;
    text-align: center;
    color:white;
    
    background: rgba(146, 175, 160, 0.6);
    -webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: black;
padding-bottom: 30px;

}


h5 {
    font-size: 90;
    text-align: center;
   color: red; -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: black;
   border-block-end-color: #F8F8FF;
   background: rgba(146, 175, 160, 0.6);
    
}

#title {
    text-decoration: underline;
}

#quiz {
    text-indent: 10px;
    display:none;
}

.button {
    border:4px solid;
    border-radius:5px;
    width: 40px;
    padding-left:5px;
    padding-right: 5px;
    position: relative;
    float:right;
    background-color: #DCDCDC;
    color: black;
    margin: 0 2px 0 2px;
}

.button.active {
    background-color: #F8F8FF;
    color: #525252;
}

button {
    position: relative;
    /* float:right; */
}

.button a {
    text-decoration: none;
    color: black;
}

#paulScreaming{
    width: 45%;
    float: left;
}

#burningHand{
width: 50%;
float: right;
}

#container {
    width:50%;
    margin:auto;
    padding: 0 25px 40px 10px;
    background-color: #1E90FF;
    border:4px solid #B0E0E6;
    border-radius:5px;
    color: #FFFFFF;
    font-weight: bold;
    box-shadow: 5px 5px 5px #888;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#prev {
    display:none;
}

#test_status {
    align:center;
width: 60%;
text-align: center;
  
    
};



#test {
    width: 60%;
    text-align: center;
    color: #DCDCDC;
    text-shadow: black; 
 
    }

#start {
    display:none;
    width: 90px;
}
/* 
.div#test{ border:#5AB029 3px solid; padding:10px 40px 40px 40px; background-color:#E5FCE3; width:50%;} */

#youArePaul {
    width: 20%;
    max-width: 200px;

}

.rightRow {
    float: right;
}


.leftRow {
    float: left;
}

#youArePaul2 {
width: 50%;
    max-width: 200px;
    border-bottom-color: aqua;
}

.gomJabbarTitle{

    stroke: black;
    stroke-width: 300px;
    text-shadow: #525252;
    padding-bottom: -200px;
}


#caladanOceanMap {
   width: 80%;
   max-width: 700px; 
}



#paulCaladanSketch {
width: 50%;
max-width: 300px;
float: left;
}

.characterSelectPaul {
    
    width: 20%;
  
    
    }; 
        /* 
        #button
        
        #submit
        
        #results */
          /* .text {
            color: white;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
          } */
        /* 
        .characterContainerSelect{
            width:80%;
        } */
        
/*         
        .middle {
          transition: .5s ease;
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          text-align: center;
        } */
        
        
        
        
/*         
        .paulContainer {
            position: relative;
            width: 50%;
          }
          
          .imagePaul {
            display: block;
            width: 100%;
            height: auto;
          }
          
          .overlayPaul {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 60%;
            width: 20%;
            opacity: 0;
            transition: .5s ease;
            background-color: blue;
          }
          
          .Container:hover .overlayPaul {
            opacity: 0.8;
          }
    
    
    .characterSelectFeyd {
    max-width: 10%;
    }; */
    
    /* 
    #button
    
    #submit
    
    #results */
    
/*       
      .textPaul {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }
    
      
      
      .textFeyd {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      } */
    /* 
    .characterContainerSelect{
        width:80%;
    } */
/*     
    
    .middle {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
    }
    
    
    
    
    
    .feydContainer {
        position: relative;
        width: 50%;
      }
      
      .imageFeyd {
        display: block;
        width: 100%;
        height: auto;
      }
      
      .overlayRed {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 60%;
        width: 20%;
        opacity: 0;
        transition: .5s ease;
        background-color: red;
      }
      
      .feydContainer:hover .overlayRed {
        opacity: 0.8;
      }
    
    
    
     
    .container {
      position: relative;
      width: 50%;
    }
    
    .image {
      opacity: 1;
      display: block;
      width: 100%;
      height: auto;
      transition: .5s ease;
      backface-visibility: hidden;
    }
    
    .middle {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
    }
    
    .container:hover .image {
      opacity: 0.3;
    }
    
    .container:hover .middle {
      opacity: 1;
    }
    
    .text {
      background-color: #4CAF50;
      color: white;
      font-size: 16px;
      padding: 16px 32px;
    }
     */